.new_form {
  margin-bottom: 120px;
}

.profile {
  height: 100vh;
}
.animation-container {
  text-align: center !important;
  width: 100vw;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  margin: 20px 0 30px 0;
}

.profile-show-text {
  padding-bottom: 18px;
}

.profile-show-container {
  margin: 0 auto;
  width: 70%;
}

.icon {
  margin-right: 10px !important;
}

.edit-btn {
  display: flex;
  justify-content: end;
  margin: 0 10px;
}

.logout-btn {
  display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
