.record-disease {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.record-date {
  text-decoration: none;
  color: black;
}
.symptoms {
  // background-color: red;
}

.btn-color {
  background-color: #061A40;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.header {
  display: flex;
  margin: 20px 0;
  h1 {
    padding-left: 10px;
  }
}
