.background {
// background-image: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%),
// image_url("pexels-anna-shvets-4226138.jpg");
// background-size: cover;
// min-height: 95vh;
// background: rgb(255,255,255);
// background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(148,187,233,0) 100%);
min-height: 100vh;
position: relative;
}

.Animation-background {
  background-size: cover;
  text-align: center !important;
  width: 100%;
  position: relative;
}

.record-disease {
  color: black;
  font-weight: bold;
}
.record-date {
  text-decoration: none;
  color: white;
}
.symptoms {
  // background-color: red;
}

.btn-color {
  background-color: #061A40;
}

.btns {
  margin: 0 15px;
  .btn {
    margin-bottom: 10px;
  }
}

.header {
  margin: 20px 0;
  h1 {
    padding-left: 10px;
  }
}

.all-records {
  margin-top: -115px;
  padding-top: 100px;
}
.card-edits {
  background-color: #7eafd3;

  a {
    text-decoration: none;
  }
}
.card {
  width: 307px;
  margin: 0 auto;
}
.icon {
  text-align: center;
  margin: 0 auto !important;
  margin-right: 0px !important;
}
