.record-disease {
  color: black;
  font-weight: bold;
}
.record-date {
  text-decoration: none;
  color: white;
}
.symptoms {
  // background-color: red;
}

.btn-color {
  background-color: #061A40;
}

.btns {
  margin: 0 15px;
  .btn {
    margin-bottom: 10px;
  }
}

.header {
  margin: 20px 0;
  h1 {
    padding-left: 10px;
  }
}

.all-records {
  margin-top: 0px;
  padding-top: 100px;
}
.card-edits {
  background-color: #7eafd3;

  a {
    text-decoration: none;
  }
}
.card {
  width: 307px;
  margin: 0 auto;
}
.icon {
  text-align: center;
  margin-top: 30px;
}
