      <h1 class="text-center m-4">All records</h1>
<% @records.each do |item| %>
  <div>
    <div class="card">
      <div class="card-body">
        <%= link_to record_path(item) do %>
        <div class="record-disease"><%= item.disease %></div>
        <div class="record-date"><%= item.date.strftime("%B %d, %Y %a") %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
