<div class="background">

<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_w6y7r1ap.json"  background="transparent"  speed="2"  style="position:absolute"  loop  autoplay></lottie-player>

<br>
  <h1 class="text-center ">All records</h1>
  <div class="icon">
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_QJbPLt.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px; margin: 0 auto;"  loop  autoplay></lottie-player>
  </div>
  <div class="all-records">
    <% @records.each do |item| %>
      <div class="card">
        <div class="card-body card-edits">
          <%= link_to record_path(item) do %>
            <div class="record-disease"><%= item.disease %></div>
            <div class="record-date"><%= item.date.strftime("%B %d, %Y %a") %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
