.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // z-index: 999;
  position: sticky !important;
  // bottom: 17px !important;
  top: 0px !important;
  width: 100%;
  padding: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar-mod {
  display: flex;
  flex-direction: row;
}
