.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  padding: 8px;
  display: flex;
  bottom: 0;
  border-top: 1px solid #0000001a;
  img {
    width: 70%;
  }
}
