// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/records";
@import "pages/index";
@import "pages/profile";

.background {
  background-size: cover;
  text-align: center !important;
  width: 100%;
  position: relative;
}

.animated-background {
  top: -85px;
  left: -75px;
  z-index: -1;
}
